<h1>About Us</h1>

<div>
<p>
    Amazon Started as a small startup company, and suddenly we are the largest retailer in the world, with market valuation of 796.6B dollars as of 2018-12-07 market close (About 3 billions dollar below Apple Inc.)
</p>
</div>