<p>
    Thank You <%= @full_name %>, One of our representatives will contact 
    you within 48 hours. If youa are an amazon prime member, you'll be 
    contacted within 1 to 2 minutes from now at <%= @email %> . Thanks 
    for getting in touch.
</p>

<p>
    <strong>You message was</strong>
    <%= @message %>
</p>