<h1>List of All Products</h1>

<ul class="product-list">
    <% @products.each do |product| %>
        <li>
            <%= link_to(product.title, product_path(product.id)) %>
            <small>
            Price: $<%= product.price %>CAD
            </small>
            <br>
            <small>
            Reviewed <%= pluralize(product.reviews_count, "time") %>
            </small>
            <br>
        </li>
    <% end %>
</ul>