<h1>List of All Products</h1>

<% if @tag.present? %>
    <h6>
        Showing products tagged by:
        <span class="badge badg-pill badge-primary" >
            <%= @tag.name %>        
        </span>
    </h6>
<% end %>

<%= render "list" %>