<h3>Admin Panel</h3>

<p>
    <small>Total number of products: <%= @products.count %></small> <br>

    <small> Total number of reviews: <%= @reviews.count %></small> <br>

    <small>Total number of users: <%= @users.count %></small>
</p>